body {
  display: flex;
  justify-content: center;
}
#startButton {
  background-color: aquamarine;
  border: 5px dashed blue;
  padding: 40px;
  border-radius: 25px;
  font-size: 26px;
  font-weight: 600;
}
